<div class="summary-grid">
  <div class="summary__stat">
    <div class="label">Heures théoriques</div>
    <div class="value">{{ monthly_hours_theoretical | round(2) }} h</div>
  </div>
  <div class="summary__stat">
    <div class="label">Heures réelles</div>
    <div class="value">{{ hours_real | round(2) }} h</div>
  </div>
  <div class="summary__stat">
    <div class="label">Salaire théorique</div>
    <div class="value">{{ monthly_salary_theoretical | round(2) }} €</div>
  </div>
  <div class="summary__stat">
    <div class="label">Salaire estimé</div>
    <div class="value">{{ salary_real_estimated | round(2) }} €</div>
  </div>
</div>
